<h1>List of regitered activities</h1>
<%= link_to 'New activity', new_activity_path %>
<table>
  <tr>
    
    <th>Activity</th>
    <th>Description (It can have one or not)</th>
    <th>Options</th>
    <th colspan="3"></th>
    <h2>User:<%= current_user.email %></h2>
  </tr>
  
  <% @activities.each do |activity| %>
    <tr>
      
      <% @flag = true %>
      
      <% if activity.user_id == current_user.id %>
        <td><%= activity.name %></td>
        <td><%= activity.text %></td>
        <td><%= link_to 'Show', activity_path(activity) %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Delete', activity_path(activity),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <% @flag = false %>
      <% end%>
    </tr>
  <% end %>

  <% if @flag %>
    <td>Aun no tienes actividades agregadas</td>
  <% end %>

</table>
<%= link_to 'Back', welcome_index_path %>